.about_title {
  h2{
    font-size: 25px;
    color: #3d3d3d;
    text-transform: uppercase;
    margin-top: 85px;
    letter-spacing: 6px;
    margin-bottom: 21px;
  }
  img{
    margin-bottom: 70px;
  }
}
