<header id="HOME" style="background-position: 50% -125px;">
  <div class="section_overlay">
    <app-navbar></app-navbar>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="home_text wow fadeInUp animated">
            <h2>Edwin Hernández Cabrera</h2>
            <img src="assets/images/shape.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="scroll_down">
            <a href="#SERVICE"><img src="assets/images/scroll.png" alt=""></a>
            <h4>Scroll Down</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
