header{
  background: url(../../../assets/images/header_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  .section_overlay{
    background: rgba(250,250,250, .5);
    .home_text{
      padding-top: 210px;
      padding-bottom: 210px;
      h2{
        color: #010101;
        font-size: 40px;
        text-transform: uppercase;
        letter-spacing: 13px;
      }
      p{
        color: #404040;
        font-size: 14px;
        text-transform: uppercase;
      }
      .scroll_down{
        padding-bottom: 50px;
      }
      .scroll_down h4{
        font-size: 12px;
        color: #000;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
      }
    }
  }
}
