.about_us_p{
  font-size: 14px;
  color: #272727;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 21px;
}

.single_progress_bar{
  .progress {
    height: 1px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #d5d5d5;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  }
  .progress-bar {
    background-color: #2d3334;
  }
  h2{
    color: #000000;
    font-size: 14px;
    font-weight: 400;
  }
}
